<com.owlplatform.solver.WAKConfig>
  <worldModelHost>raspberry</worldModelHost>
  <worldModelSolverPort>7009</worldModelSolverPort>
  <worldModelClientPort>7010</worldModelClientPort>
  <requiredItems>
    <string>maker.demo.wallet.16</string>
    <string>maker.demo.keys.14</string>
  </requiredItems>
  <doors>
    <string>maker.demo.door.6</string>
  </doors>
  <mobilityAttributeNames>
      <string>mobility</string>
  </mobilityAttributeNames>
  <openDoorAttributeNames>
      <string>open</string>
  </openDoorAttributeNames>
  <originName>wallet-reminder-solver</originName>
  <delayToleranceSec>5</delayToleranceSec>
  <alertId>my.alerts</alertId>
  <alertAttribute>missing</alertAttribute>
</com.owlplatform.solver.WAKConfig>
