<com.owlplatform.solver.WAKConfig>
  <worldModelHost>localhost</worldModelHost>
  <worldModelSolverPort>7009</worldModelSolverPort>
  <worldModelClientPort>7010</worldModelClientPort>
  <requiredItems>
    <string>my.wallet</string>
    <string>my.keys</string>
  </requiredItems>
  <doors>
    <string>my.door</string>
  </doors>
  <mobilityAttributeNames>
      <string>mobility</string>
  </mobilityAttributeNames>
  <openDoorAttributeNames>
      <string>closed</string>
  </openDoorAttributeNames>
  <originName>wallet-reminder-solver</originName>
  <delayToleranceSec>20</delayToleranceSec>
  <alertId>my.alerts</alertId>
  <alertAttribute>wallet-and-keys</alertAttribute>
</com.owlplatform.solver.WAKConfig>